 .container {
  padding: 4rem;
  width: 40rem;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}
.list {
  padding: 1rem;
  width: 100%;
  height: 10rem;
  border: 0.1rem solid grey;
  overflow: auto;
}

.add-members-container input {
  border: none;
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.418);
  margin-right: 0.5rem;
  width: 100%;
  display: flex;
}

.add-members-container button {
  width: 100%;
  color: black;
  font-weight: 400;
  cursor: pointer;
  background-color: white;
  margin-top: 0.5rem;
  transition-duration: 0.4s;
  border: 2px solid #008CBA;
}

.add-members-container button:active {
  box-shadow: 0 5px rgb(150, 149, 149);
  transform: translateY(1px);
}

.add-members-container button:hover{
    background-color: #008CBA;
  color: white;
}

.add-members-container button:nth-child(3) {
  width: 100%;
  color: black;
  font-weight: 400;
  cursor: pointer;
  background-color: white;
  margin-top: 0.5rem;
  border: 2px solid #f44336;
}

.add-members-container button:nth-child(3):hover{
    background-color: #f44336;
  color: white;
}

.input-container {
  margin: 2rem 0;
  display: flex;
  height: 2rem;
}

.input-container button {
  margin-left: 10px;
  width: 50%;
  background-color: white;
  border: 2px solid darkcyan;
  color: black;
  cursor: pointer;
  transition-duration: 0.4s;
}

.input-container button:hover {
  background-color:darkcyan;
  color: white;
}

.input-container button:active {
  box-shadow: 0 5px rgb(150, 149, 149);
  transform: translateY(1px);
}

.input-container input {
  width: 50%;
}

.card {
  padding: 2rem;
  width: 100%;
}

.error-msg {
  color: red;
} 

li{
    list-style: none;
    font-size:1.25rem;
    margin-bottom: 0.5rem;
}